
    <div class="container mt-5">
        <h1 class="section-title">Eductaion</h1>
        <div class="card m-2">
            <div class="row no-gutters">
                <!-- Left Column: Image -->
                <div class="col-md-4">
                    <img src="../../assets/prmitr.jpg" class="card-img p-2" alt="Your Image" style="height: 100%; object-fit: cover;">
                </div>
                <!-- Right Column: Education Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <h2>BE | VYWS Prof Ram Meghe Institute of Technology and Research, Badnera</h2>
                                <h3 style="margin: 0px;">Sant Gadge Baba Amravti University</h3>
                                <h3 style="margin: 0px;">Amravati Maharashtra</h3>
                                <h3 style="margin: 0px;"><i>Aug 2016 - Nov 2020</i></h3>
                                <strong>Percentage : 88.60</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="row no-gutters">
                <!-- Left Column: Image -->
                <div class="col-md-4">
                    <img src="../../assets/Krushi.jpg" class="card-img p-2" alt="Your Image" style="height: 100%; object-fit: cover;">
                </div>
                <!-- Right Column: Education Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <h2>12<sup>th</sup> | Bhau Saheb Potey Jr Collage Akot.</h2>
                                <h3 style="margin: 0px;">State Board Maharashtra</h3>
                                <h3 style="margin: 0px;">Akot Maharashtra</h3>
                                <h3 style="margin: 0px;"><i>June 2015 - Mar 2016</i></h3>
                                <strong>Percentage : 71.85</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-2">
            <div class="row no-gutters">
                <!-- Left Column: Image -->
                <div class="col-md-4">
                    <img src="../../assets/Krushi.jpg" class="card-img p-2" alt="Your Image" style="height: 100%; object-fit: cover;">
                </div>
                <!-- Right Column: Education Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <h2>10<sup>th</sup> | Bhau Saheb Potey Highschool Akot.</h2>
                                <h3 style="margin: 0px;">State Board Maharashtra</h3>
                                <h3 style="margin: 0px;">Akot Maharashtra</h3>
                                <h3 style="margin: 0px;"><i>June 2013 - Mar 2014</i></h3>
                                <strong>Percentage : 88.60</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
