

<div class="container mb-3">    
   
        <h1 class="section-title">About <span style="color: #FFC93C;">Me</span></h1>
        <!-- ng build --base-href "https://PartianWizard301998.github.io/Vaibs_portfolio/"

npx angular-cli-ghpages --dir=dist/vaibhav-cv -->
        <h2>Hi There,</h2> 
        <p class="aboutme">I am Vaibhav Bhute, a self motivated and result-oriented Full stack web developer with 3+ years of experience, with proficiency in MEAN stack. Proficient in creating user-centric products using my skills and knowledge.
            I graduated in Computer Science and Engineering in 2020 from Sant Gadge Baba Amravati University Maharashtra. With 3 years of experience, I have worked in different tech stacks like MEAN stack web development and performance engineering, hands-on experience with Angular, NodeJs, Express, MongoDB, MySQL, API integration, API testing, deployment, release management, and defect management.
            Expertise in using logging tools like PCF and Splunk, monitoring tools such as AppDynamics. Having good exposure to Amazon Web Services Cloud, Postman, Jira, Root Cause Analysis. I am a good team player and looking forward to working in a challenging role in a growth-oriented organization, where I can use my technical skills and gain valuable experience in integrating strategies to contribute to the growth and success of the organization.
        </p>

        <button class="button mt-3"(click)="DownLoadResume()">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Download Resume</span>
            </span>
        </button>
    </div>


