.nav-item{
    margin-left: 20px;
    font-weight: bold;
}
.navbar-brand{
    font-size: 32px;
    font-weight: bold;
    color: #EE4266;;
}
#nav_brand{
    height: 30px;
    width: 30px;
}

.custom-offcanvas-width {
    width: 200px; /* Reduce width to 200px */
}

@media (min-width: 576px) {
    .custom-offcanvas-width {
        width: 250px; /* Slightly larger width for larger mobile screens */
    }
}
