<nav class="navbar navbar-expand-lg bg-light fixed-top d-none d-lg-flex" style="background-color: #240A34;">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="#sayHello">
      <img id="nav_brand" src="https://i.ibb.co/dDTgTXW/VBCreations-Logo.jpg" alt="VB Creations">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#shortExp">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/myworks">My Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Side Nav for Mobile -->
<nav class="navbar d-lg-none" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="#sayHello">
      <img id="nav_brand" src="https://i.ibb.co/dDTgTXW/VBCreations-Logo.jpg" alt="VB Creations">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start custom-offcanvas-width" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#aboutme">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#shortExp">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/myworks">My Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
