<div class="container">
   
        <div class="pt-5">
             <div class="card p-3">
            <h1>
                Tata Consultancy Services
            </h1>
            <h4>System Engineer</h4>
            <p>April 2021 - Present</p>
            
            <h2>Highlights:</h2>
            <ul style="list-style-type: square;">
                <li>
                    Played a crucial role in developing and optimizing performance for MEAN stack applications, resulting in enhanced user experiences and scalability.
                </li> 
                <li>
                    Designed and developed responsive user interface, to deliver a seamless and visually appealing user experience.
                </li>
               <li>
                    Integrated third-party REST APIs to augment platform functionality, providing additional features. Successfully delivered a robust and secure role-based authentication system using JWT, contributing to a more secure and controlled application environment.
               </li>
               <li>
                Created a user-friendly interface for easy new user creation, streamlining the process and boosting efficiency. Developed a webpage for seamless loading and editing of user information, enhancing user data management.
               </li>
               <li>
                Developed the CRUD APIs and tested using Postman, developed Forget Password functionality, to implement proper user management system.
               </li>
               <li>
                Utilized Jira to manage projects effectively and track the project status.
               </li>
               <li>
                Responsible for creating the reports and maintaining documentation using confluence.
               </li>
               <li>
                Involved in analyzing logs and environment using AppDynamics and Splunk and resolving the issues in load and lower environments.
               </li>
               <li>
                Experience in using the Amazon Cloud services like IAM, EC2, S3 Bucket and RDS.
               </li>
    
            </ul>
         
        </div>
    </div>
</div>