
<h1 class="section-tital mt-5 mb-3">Skills <span style="color: #FFC93C;">& Tools</span></h1>
  <div class="container">


    <div class="card">
      <img src="https://i.ibb.co/PCvtjRW/angular.png" alt="Angular" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Angular</h3>
    </div>

    <div class="card">
      <img src="https://i.ibb.co/gSJYfQ6/java.png" alt="Java" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Java</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/J5pZZwJ/js.png" alt="js" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Javascript</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/QnDZM67/html.png" alt="html5" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">HTML</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/kmt8qbt/css.png" alt="css3" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">CSS</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/DbrDMw2/bootstrap.png" alt="BootStarp" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">BootStarp</h3>
    </div>
    
    <div class="card">
      <img src="https://i.ibb.co/4Fw88p2/typescript.png" alt="TypeScript" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">TypeScript</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/SRh5xL4/express.png" alt="ExpressJs" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">ExpressJs</h3>
    </div>
    <div class="card">
      <img src="https://i.ibb.co/jVmmJmn/nodejs.png" alt="nodejs" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">NodeJs</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/cXskmTZ/mongodb.png" alt="MongoDB" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">MongoDB</h3>
    </div>

    <div class="card">
      <img src="https://i.ibb.co/2jbQDMq/mysql.png" alt="MySQL" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">MySQL</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/brZjNHX/github1.png" alt="Git" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Git</h3>
    </div>
  
  
    <div class="card">
      <img src="https://i.ibb.co/1dxCgb8/aws.png" alt="AWS" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">AWS</h3>
    </div>
  
    <!-- <div class="card">
      <img src="../../assets/svgs/npm-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">NPM</h3>
    </div> -->
  
    <div class="card">
      <img src="https://i.ibb.co/1fwSSMS/jira.png" alt="Jira" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Jira</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/VMQVKzB/appd.jpg" alt="AppDynamics" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">AppDynamics</h3>
    </div>
  
    <div class="card">
      <img src="https://i.ibb.co/k68P73K/Splunk-1.png" alt="Splunk" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Splunk</h3>
    </div>

    <div class="card">
      <img src="https://i.ibb.co/cTFvTTq/postman.jpg" alt="Postman" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Postman</h3>
    </div>
  
  </div>
