<section id="skills">
  <h1 class="section-tital mt-5">Skills and Tools</h1>
  <div class="container">
    
    <div class="card">
      <img src="../../assets/svgs/angular.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Angular</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/javascript-2.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Javascript</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/html-5-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">HTML</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/css-3-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">CSS</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/bootstrap-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">BootStarp</h3>
    </div>
    
    <div class="card">
      <img src="../../assets/svgs/typescript-official-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">TypeScript</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/express-svgrepo-com (2).svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">ExpressJs</h3>
    </div>
    <div class="card">
      <img src="../../assets/svgs/nodejs-icon-logo-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">NodeJs</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/mongodb-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">MongoDB</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/git-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Git</h3>
    </div>
  
  
    <div class="card">
      <img src="../../assets/svgs/aws-svgrepo-com (2).svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">AWS</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/npm-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">NPM</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/jira-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Jira</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/appdynamics-svgrepo-com.svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">AppDynamics</h3>
    </div>
  
    <div class="card">
      <img src="../../assets/svgs/splunk-svgrepo-com (1).svg" alt="" srcset="" width="60px" height="60px">
      <h3 class="mt-2 mb-0">Splunk</h3>
    </div>
  
  </div>
</section>